html{
    width: 100%;
    height: 100%;
}

body{
    width:100%;
    height: 100%;
    margin: 0em;

    font-family: 'Roboto', sans-serif;
}

.backgroud-image{
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1;

    display: block;
    background-image: url('../images/sites/Sierra_HDR_Panorama_DFX8048_2280x819_Q40_wm_mini.jpg');
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: left top;
    width: 100%;
    height: 100%;

    filter        : blur(10px);
    -moz-filter   : blur(10px);
    -webkit-filter: blur(10px);
    -o-filter     : blur(10px);

    transition        : all 2s linear;
    -moz-transition   : all 2s linear;
    -webkit-transition: all 2s linear;
    -o-transition     : all 2s linear;
}

.page{
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    z-index: 9999;
    padding: 0px;
    margin: 0px;
}

.nav{
    padding-left: 3%;
    display: block;
    width: 100%;
    background: #414141;
    color: #F5F5F5;
}

.nav-title{
    display: inline-block;
    width:7%;
    height: 100%;
    font-size:1.5em;
    padding: 0px;
    margin:0px;
}

.nav-bar{
    display: inline-block;
    font-size:1.2em;
    height: 100%;
    width: 75.5%;

    padding: 0px;
    margin:0px;
}

.nav-bar li
{
    height: 100%;
    padding: 1.6%;
    display: inline-block;
}

.nav-bar li:hover,
.nav-left:hover,
.nav-bar .current
{
    background: #212121;
}

.nav-left{
    font-size:1.2em;
    display: inline-block;
    width: 9%;
}

.nav-left li{
    height: 100%;
    display: inline-block;
}


.footer{
    height: 5%;
    width: 100%;
    background: #414141;
    color: #F5F5F5;
}

.popup{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 99999;
    display: none;
    background: black;
}


.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* IE/Edge */
    user-select: none;           /* non-prefixed version, currently
                                  not supported by any browser */
}

